.alert{ 
    width: 100%; 
    padding-bottom: 7%; 
    background-color: #72e94d00;
    backdrop-filter: blur(5px);
    z-index: 3;
    position: relative;
}
.alert-body{
    width: 90%;
    height: 90%;
    margin-top: 3%;
    margin-left: 5%;
    padding: 3% 0%;
    z-index: 3;
    box-shadow: 1px 1px 10px 1px #1c1c1c;
    border-radius: 10px;  
    background-color: #ffffffb6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alert-button{
    width: 300px;
    margin-top: 2%;
    height: 40px;
    border-radius: 8px;
    border: 0px;
    font-weight: 600;
    color: rgba(240, 248, 255, 0.521);
    cursor: pointer;
}
.success{
    background-color: rgb(61, 165, 130);
    box-shadow: 1px 1px 10px 1px   rgba(61, 165, 130, 0.637);
}
.error{
    background-color: rgb(250, 133, 133);
    box-shadow: 1px 1px 10px 1px   rgb(250, 133, 133);
}
.icon-container{
    width: 350px;
    height: 350px;
    margin-bottom: 3%;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(64, 66, 66, 0.24);
    box-shadow: 1px 1px 10px 1px  rgba(64, 66, 66, 0.24);
}