.nav-container{
    width: fit-content;
    height: 100%;
    padding: 5px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 230px;
    margin-right: 330px;
}
.app-logo{
    margin-top: 10%; 
    border-radius: 10px;
    width: 230px;
    background-color:#2c29298c;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-content{
    width: 80%;
    margin: auto;
    height: 70%;
    border-radius: 10px;
    padding: 10px;
    /* background-color: rgba(240, 248, 255, 0.267); */
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2); */
}
.nav-item{
    width: 140%;
    height: 8%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    min-width: 230px;
    background-color: rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(5px);
    transition: all 0.1s ease-in-out;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.nav-item:hover{
    box-shadow: 1px 1px 10px 1px rgba(51, 226, 74, 0.2);
}

.nav-item a{ 
    text-decoration: none;
    color: rgba(255, 255, 255, 0.863);
    font-weight: 400;
}
.nav-hr{
    width: 90%;
    height: 1px; 
    background-color: rgba(255, 255, 255, 0.897);
}
.logout{
    background-color: #5AB7A6;
}